<article class="event" data-event-id={{id}}>
  <header>
    <h2>{{name}} - {{formattedDate}}</h2>
  </header>
  <section>
    <h2>Notes</h2>
    <p>{{notes}}</p>
    <a href="/event/edit/{{id}}">Edit Event</a>
  </div>
</article>