<% require 'pry' %>

<h2 class='conent-subhead'>Search</h2>

<form action='/search' method='get'>
  <input name='query' value="<%= params[:query] %>">
  <button type='submit'>Search</button>
</form>

<% if @chapters %>
  <h2 class='conent-subhead'>Results for '<%= @phrase %>'</h2>

  <ul class='pure-menu-list'>
    <% @chapters.each do |chap_idx, paragraph| %>
      <li class='pure-menu-item'>
        <h3>
          <a href="/chapters/<%= chap_idx %>" class="pure-menu-link"><%= @contents[chap_idx] %></a>
        </h3>
        <ul class='pure-menu-list'>
          <% paragraph.each do |idx, lines| %>
            <li class='pure-menu-item'>
              <a href="/chapters/<%= chap_idx %>#paragraph<%= idx %>" class='pure-menu-link'>
                <%= "paragraph #{idx}: #{lines}" %>
              </a>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
