<li>
  <article>
    <figure>
      <img src={{gravatar}}>
    </figure>
    <div class="content">
      <header>
        <h1>{{name}}</h1>
        <p>Posted on <time datetime={{date}}>{{date}}</time></p>
      </header>
      <p>{{body}}</p>
    </div>
  </article>
</li>